.jumbotron {
  padding: 0.5em 0.6em; }
  .jumbotron h1 {
    font-size: 2em;
    text-align: center;
    margin: 1%; }

.user {
  width: 50%;
  text-align: center;
  background-color: #eee; }

#add-btn {
  margin-top: 1%; }

#list-container {
  display: flex; }
  #list-container #to-do,
  #list-container #completed {
    margin: 0 auto; }

.checkbox {
  display: inline-block; }
